<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
		
	      <p>HUMANE Lab is part of the <a href="https://ai.ssu.ac.kr/">College of AI</a> at <a href="https://www.ssu.ac.kr/">Soongsil University</a>.</p>
	      	  
            
		</div>
		
		<div class="col-sm-4">
		  <p>
	          서울특별시 동작구 상도로 369 숭실대학교 창의관 308호 (<a href="https://naver.me/xiqMSXcJ">Maps</a>)</p>
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
