<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
		
	      <p>We are part of the <a href="http://aix.ssu.ac.kr/main">School of AI Convergence</a> at <a href="https://www.ssu.ac.kr">Soongsil University</a>.</p>
	      <p>인간 중심 데이터과학 연구실은 <a href="https://www.ssu.ac.kr">숭실대학교</a> <a href="http://aix.ssu.ac.kr/main">AI융합학부</a>에 소속되어 있습니다.</p>
			</p>
	      <p>Contact: kunwoo dot park at ssu dot ac dot kr<br />
            

		   <p>  </p><p>
            		  
            
		</div>
		
		<div class="col-sm-4">
		  서울특별시 동작구 상도동<br/>
		  369 상도로 숭실대학교<br/>
		  형남공학관 431호<br/><br/>
		  
            (<a href="http://naver.me/5fnjhyuz">Maps</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
